Source: ejs
Priority: optional
Maintainer: Jens Thiele (karme) <karme@berlios.de>
Build-Depends: debhelper (>> 3.0.0), libsdl1.2-dev, libsdl-image1.2-dev, xlibmesa-gl-dev | libgl-dev, libsigc++-dev, libsmjs-dev
Standards-Version: 3.6.1

Package: ejs
Section: interpreters
Architecture: any
Depends: ${shlibs:Depends}
Description: extensible JavaScript shell
 EJS   is  a   simple   minimalistic  (currently   non-
 interactive)   JavaScript  shell utilizing   mozilla's
 JavaScript   interpreter SpiderMonkey.  The purpose of
 EJS is to get  a JavaScript shell which is  extensible
 in the spirit of    other interpreters like  Perl  and
 Python.  The module framework   is kept as   simple as
 possible to  encourage  code-reuse  among people using
 the SpiderMonkey API directly,  even if they don't use
 EJS.
 .
  Homepage: http://egachine.berlios.de

Package: ejs-multimedia
Section: interpreters
Architecture: any
Depends: ${shlibs:Depends}, ejs (=${Source-Version})
Description: ejs multimedia modules
 provides  JavaScript     objects    for   audio, video
 (graphics) and  input.  Included are language bindings
 for a subset of the OpenGL API and an experimental SVG
 module using SVGL, which renders SVG via OpenGL.
 .
  Homepage: http://egachine.berlios.de

Package: ejs-cc
Section: interpreters
Architecture: all
Depends: ejs (=${Source-Version}), c-compiler
Recommends: libc-dev, libsmjs-dev
Description: ejs cc module
 module providing capability   to  compile C   code  at
 runtime. This   is  a   seperate package  because   it
 introduces some heavy dependencies.
 .
  Homepage: http://egachine.berlios.de
 
Package: egachine-base
Section: interpreters
Architecture: any
Depends: ejs (=${Source-Version})
Suggests: egachine
Description: a simple networked game engine
 EGachine is an  JavaScript  game engine focused  on 2D
 multi-player (networked) games. The idea is to provide
 a  tool  for  learning  by   writing  computer  games.
 EGachine is based  upon a simple extensible JavaScript
 shell   (EJS)    and  different    modules   providing
 functionality required for programing games.
 .
  Homepage: http://egachine.berlios.de

Package: egachine
Section: interpreters
Architecture: all
Depends: ejs-multimedia (=${Source-Version}), egachine-base (=${Source-Version})
Description: a simple networked game engine
 EGachine is an  JavaScript  game engine focused  on 2D
 multi-player (networked) games. The idea is to provide
 a  tool  for  learning  by   writing  computer  games.
 EGachine is based  upon a simple extensible JavaScript
 shell   (EJS)    and  different    modules   providing
 functionality required for programing games.
 .
  Homepage: http://egachine.berlios.de
